:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}